// variables

@use"../utilities/variables" as*;

//mixin

@use"../utilities/mixin" as *;

/*carrousel*/


.carousel-item img {
 @include carrousel;
}

.carousel-inner button{
background-color: #ffffff00!important;
}


/* texto de sobre mi */

   .contenido{
   color:$colortipo;
   font-size: 1.5em;
   font-family: sans-serif;
   font-weight: 500;
   font-optical-sizing: auto;
   font-style: normal;
   margin-top:5%;
   margin: 5% 5% 5% 5%;

        h1{
            text-align: center;
            color: rgb(89, 5, 97);
            font-size: 2em;
            margin-top: 20px; 
        }
}

.titulo{
    color: rgb(89, 5, 97);
    font-size: 1.5em;
    margin-left: 30px;
    padding-top: 20px;
}